body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#020617,#0f172a);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:#111827;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 25px #00f2ff44;
    text-align:center;
    width:300px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#00f2ff;
    font-weight:bold;
    cursor:pointer;
}




.container{
 display:flex;
 gap:40px;
}

.map-area{
 position:relative;
 width:600px;
 height:900px;
}

.path{
 position:absolute;
}

.node{
 position:absolute;
 width:45px;
 height:45px;
 border-radius:50%;
 background:#7c3aed;
 display:flex;
 justify-content:center;
 align-items:center;
 cursor:pointer;
 color:white;
 font-weight:bold;
 box-shadow:0 0 10px #7c3aed;
}

.node.active{
 background:#00f2ff;
 box-shadow:0 0 20px #00f2ff;
}

.ranking-area{
 width:250px;
 background:#111827;
 padding:20px;
 border-radius:15px;
}
