body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#020617,#0f172a);
    color:white;
    padding-top:70px;
    min-height:100vh;
}

.card{
    background:#111827;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 25px #00f2ff44;
    text-align:center;
    width:300px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#00f2ff;
    font-weight:bold;
    cursor:pointer;
}




.container{
 display:flex;
 gap:40px;
}

.map-area{
 width:500px;
}


.map-grid{
 display:grid;
 grid-template-columns: repeat(5, 80px);
 gap:20px;
 justify-content:center;
 margin-top:20px;
}


.node{
 position:static;        /* antes era absolute */
 width:80px;
 height:80px;
 border-radius:12px;     /* cuadrado con bordes redondeados */
 background:#7c3aed;
 display:flex;
 justify-content:center;
 align-items:center;
 cursor:pointer;
 color:white;
 font-weight:bold;
 box-shadow:0 0 10px #7c3aed;
}


.node.active{
 background:#00f2ff;
 box-shadow:0 0 20px #00f2ff;
}

.node.completed{
 background:#16a34a;
 box-shadow:0 0 10px #16a34a;
}

.node.locked{
 background:#374151;
 box-shadow:none;
 cursor:not-allowed;
 opacity:0.6;
}




.ranking-area{
 width:250px;
 background:#111827;
 padding:20px;
 border-radius:15px;
}



.prestart{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:40px;
    z-index:9999;
}



.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.top-bar button{
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.top-bar button:hover{
    opacity: 0.8;
}

.contenido{
    padding: 20px;
}

